.container {
  width: 940px;
}

#page {
  overflow-x: hidden;
  min-width: 1000px;
}

#wrap-header {
  background: url(../img/top-hdr-bgrr.png);
  background-repeat: repeat-x;
}

#wrap-content {
  background: url(../img/cnt-bg.png);
  margin-top: -30px;
  padding-top: 30px;
}

#wrap-colophon {
  background-color: #ecebec;
}

#header {
  padding-top: 80px;
  text-align: center;
}
#header .logo figure img {
  max-width: none;
  position: relative;
  left: -40px;
  z-index: 1;
}
#header .logo figcaption {
  position: relative;
  left: 25px;
}
#header .mascot {
  height: 210px;
}
#header .mascot .character {
  max-width: none;
  position: relative;
  top: -60px;
  left: -80px;
  z-index: 2;
}
#header .mascot .building {
  max-width: none;
  position: relative;
  top: -410px;
  left: -130px;
  z-index: 0;
}

#nav {
  margin-top: 50px;
  position: relative;
  border: 2px solid #fff;
  z-index: 9999;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -moz-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
}
#nav ul li {
  width: 235px;
  float: left;
}
#nav ul li.nav-dic {
  background-color: #e6136e;
}
#nav ul li.nav-spot {
  background-color: #e9a800;
}
#nav ul li.nav-class {
  background-color: #6ab935;
}
#nav ul li.nav-glry {
  background-color: #45a7de;
}
#nav ul li a {
  padding: 33px 5px 3px 0;
  text-align: right;
  display: block;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

#content {
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #fff;
  border: 5px dotted #ecebec;
}

#footer {
  margin-top: 35px;
  padding-bottom: 25px;
}
#footer .credit {
  text-align: center;
}

#colophon .fnav {
  margin: 20px 0 0;
}
#colophon .fnav li {
  float: left;
  list-style: none;
  border-left: 1px solid #999;
  margin-left: 20px;
  padding-left: 20px;
}
#colophon .fnav li:first-child {
  border-left: none;
}
#colophon .colored {
  margin: 0;
}
#colophon .colored li {
  float: left;
  list-style: none;
  text-indent: -9999em;
  height: 90px;
  width: 50px;
}
#colophon .colored li.red {
  background-color: #e2007c;
}
#colophon .colored li.yellow {
  background-color: #ffc300;
}
#colophon .colored li.green {
  background-color: #4cc52d;
}
#colophon .colored li.blue {
  background-color: #009cec;
}

.top #content > header h1 {
  font-size: 25px;
  line-height: 25px;
  margin: -12.5px 0;
  padding-left: 25px;
}
.top #content figure.span5 img {
  padding-top: 50px;
  padding-left: 50px;
}
.top #content div.span7 header {
  padding-top: 50px;
}
.top #content div.span7 header h1 {
  font-size: 16px;
  line-height: 16px;
}
.top #content div.span7 header,
.top #content div.span7 article {
  padding-right: 50px;
}

.wiki #wrap-header {
  background: none;
}
.wiki #header {
  padding-top: 30px;
}
.wiki #hero .logo figcaption {
  display: none;
}
.wiki #hero .main-menu li {
  list-style: none;
  text-align: center;
  display: inline;
}
.wiki #hero .wiki-menu {
  margin-top: 30px;
}
.wiki #hero .wiki-menu li {
  float: left;
  display: inline;
  list-style: none;
  text-align: center;
  margin-left: 10px;
  padding-left: 10px;
}
.wiki #hero .wiki-menu li a {
  color: #aaa;
}
.wiki #nav {
  margin-top: 20px;
}
.wiki #content {
  margin-left: 0;
  padding: 20px;
  width: 650px;
  border: 5px dotted #ecebec;
}
.wiki #content > header {
  position: relative;
  top: -25px;
  left: -25px;
  width: 696px;
  background: #996666;
  border: 2px solid #fff;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -moz-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
}
.wiki #content > header h1 {
  font-size: 25px;
  line-height: 25px;
  font-weight: normal;
  margin: 20px 0 5px 10px;
  color: #fff;
  text-shadow: 0 1px 1px black;
}
.wiki #content > header h2 {
  position: absolute;
  left: 20px;
  margin-top: 30px;
  font-size: 25px;
  line-height: 25px;
}
.wiki #content .form .contents {
  width: 630px;
  height: 300px;
}
.wiki #content .form .keyword {
  width: 630px;
  height: 100px;
}
.wiki #side-menu {
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #dfdfdf;
  padding: 20px;
  border: 2px solid #fff;
  width: 176px;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -moz-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
}
.wiki #side-menu header h1 {
  font-size: 16px;
  line-height: 16px;
  margin: 0;
}
.wiki #side-menu header h1 + hr {
  margin-top: 10px;
  margin-bottom: 15px;
}
.wiki #side-menu hr {
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.09);
  border-bottom: 1px solid #fff;
}
