.container {
  width: 940px;
}

#header {
  margin-top: 80px;
  text-align: center;
}

#nav {
  margin-top: 50px;
}
#nav ul li {
  width: 235px;
  float: left;
}
#nav ul li.nav-dic {
  background-color: #e6136e;
}
#nav ul li.nav-spot {
  background-color: #e9a800;
}
#nav ul li.nav-class {
  background-color: #6ab935;
}
#nav ul li.nav-glry {
  background-color: #45a7de;
}
#nav ul li a {
  padding: 27px 5px 3px 0;
  text-align: right;
  display: block;
  font-size: 20px;
  color: #fff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
}

#content {
  margin-top: 50px;
  padding-bottom: 50px;
  background-color: #e8e8e8;
}

#footer {
  margin-top: 35px;
  margin-bottom: 65px;
}
#footer .credit {
  text-align: center;
}

#content.top > header h1 {
  font-size: 25px;
  line-height: 25px;
  margin: -12.5px 0;
  padding-left: 25px;
}
#content.top figure.span5 img {
  padding-top: 50px;
  padding-left: 50px;
}
#content.top div.span7 header {
  padding-top: 50px;
}
#content.top div.span7 header h1 {
  font-size: 16px;
  line-height: 16px;
}
#content.top div.span7 header,
#content.top div.span7 article {
  padding-right: 50px;
}
