@charset "utf-8";
//==============================================================================
//  screen.css
//  表示用。スタイルは基本的にここに全て書く
//==============================================================================

// compass を使うよ!
@import "compass";

//==============================================================================
//  全体のレイアウト設定
//==============================================================================

// ページ幅
$containerWidth: 940px;

// ページのレイアウト全般の余白 の基準
$sectionGutter: 50px;

// コンテンツエリアの余白 の基準
$contentSectionGutter: 50px;

.container {
  width: $containerWidth;
}

#page {
  overflow-x: hidden;
  min-width: 1000px;
}

#wrap-header {
  /* IE10 Consumer Preview */
  background-image: -ms-linear-gradient(bottom, #FFFFFF 75%, #00A3EF 100%);

  /* Mozilla Firefox */
  background-image: -moz-linear-gradient(bottom, #FFFFFF 75%, #00A3EF 100%);

  /* Opera */
  background-image: -o-linear-gradient(bottom, #FFFFFF 75%, #00A3EF 100%);

  /* Webkit (Safari/Chrome 10) */
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.75, #FFFFFF), color-stop(1, #00A3EF));

  /* Webkit (Chrome 11+) */
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 75%, #00A3EF 100%);

  /* W3C Markup, IE10 Release Preview */
  background-image: linear-gradient(to top, #FFFFFF 75%, #00A3EF 100%);
}

#wrap-content {
  background: url(../img/cnt-bg.png);
  margin-top: -30px;
  padding-top: 30px;
}

#wrap-colophon {
  background-color: #ecebec;
}

#header {
  padding-top: $sectionGutter + 30px;
  text-align: center;

  .logo {
    figure {
      img {
        max-width: none;
        position: relative;
        left: -40px;
        z-index: 1;
      }
    }
    figcaption {
      position: relative;
      left: 25px;
    }
  } // end .logo

  .mascot {
    height: 210px;

    .character {
      max-width: none;
      position: relative;
      top: -60px;
      left: -80px;
      z-index: 2;
    }
    .building {
      max-width: none;
      position: relative;
      top: -410px;
      left: -130px;
      z-index: 0;
    }
  } // end .mascot

} // end #header

#nav {
  margin-top: $sectionGutter;
  position: relative;
  border: 2px solid #fff;
  z-index: 9999;
  @include box-shadow(0 0 10px #ccc);

  ul li {
    width: $containerWidth / 4;
    float: left;

    &.nav-dic   { background-color: #e6136e; }
    &.nav-spot  { background-color: #e9a800; }
    &.nav-class { background-color: #6ab935; }
    &.nav-glry  { background-color: #45a7de; }

    a {
      padding: 33px 5px 3px 0;
      text-align: right;
      display: block;
      font-size: 20px;
      color: #fff;
      @include text-shadow(0 1px 1px rgba(0, 0, 0, 0.7));
    }
  }
} // end #nav

#content {
  margin-top: $sectionGutter;
  padding-bottom: $sectionGutter;
  background-color: #fff;
  border: 5px dotted #ecebec;

  // ページ毎に異なるだろうスタイルは下に記述してね
}

#footer {
  margin-top: $sectionGutter * 0.7;
  padding-bottom: $sectionGutter * 0.5;

  .credit {
    text-align: center;
  }
}

#colophon {

  .fnav { // footer nav
    margin: $sectionGutter*0.4 0 0;
    li {
      float: left;
      list-style: none;
      border-left: 1px solid #999;
      margin-left: 20px;
      padding-left: 20px;

      &:first-child {
        border-left: none;
      }
    }
  } // end .fnav

  .colored {
    margin: 0;
    li {
      float: left;
      list-style: none;
      text-indent: -9999em;
      height: 90px;
      width: 50px;

      &.red { background-color: #e2007c }
      &.yellow { background-color: #ffc300 }
      &.green { background-color: #4cc52d }
      &.blue { background-color: #009cec }

    }
  } // end .colored

} // end #colophon

//==============================================================================
//  ページ毎のスタイル
//==============================================================================

.top {
  #content {
    > header {
      h1 {
        $fontSize: 25px;
        font-size: $fontSize;
        line-height: $fontSize;
        margin: -($fontSize / 2) 0;
        padding-left: 25px;
      }
    }
    figure.span5 {
      img {
        padding-top: $contentSectionGutter;
        padding-left: $contentSectionGutter;
      }
    }
    div.span7 {
      header {
        padding-top: $contentSectionGutter;

        h1 {
          $fontSize: 16px;
          font-size: $fontSize;
          line-height: $fontSize;
        }
      }
      header,
      article {
        padding-right: $contentSectionGutter;
      }
    }
  } // end #content
} // end .top


.wiki {
  #wrap-header {
    background: none;
  }

  #wrap-content {

  }

  #header {
    padding-top: $sectionGutter * 0.6;
  }

  #hero {
    .logo {
      figcaption {
        display: none;
      }
    }
    .main-menu {
      li {
        list-style: none;
        text-align: center;
        display: inline;
      }
    }
    .wiki-menu {
      margin-top: 30px;
      li {
        float: left;
        display: inline;
        list-style: none;
        text-align: center;

        margin-left: 10px;
        padding-left: 10px;

        a {
          color: #aaa;
        }
      }
    }
  } // end #hero

  #nav {
    margin-top: 20px;
  }

  #content {
    margin-left: 0;
    padding: 20px;
    width: 650px;
    border: 5px dotted #ecebec;
    > header {
      $fontSize: 25px;

      position: relative;
      top: -25px;
      left: -25px;
      width: 696px;
      background: #996666;
      border: 2px solid #fff;
      margin-bottom: 40px;
      @include box-shadow(0 0 10px #ccc);

      h1 {
        font-size: $fontSize;
        line-height: $fontSize;
        font-weight: normal;
        margin: 20px 0 5px 10px;
        color: #fff;
        @include text-shadow(0 1px 1px #000);
      }
      h2 {
        position: absolute;
        left: 20px;
        margin-top: 30px;
        font-size: $fontSize;
        line-height: $fontSize;
      }
    }

    .form {
      .contents {
        width: 630px;
        height: 300px;
      }
      .keyword {
        width: 630px;
        height: 100px;
      }
    }

    //
    // コンテンツヘッダの設定。上を上書きする形で設定する
    //
    // SFC語録
    &.dic header {
      background: #aaa;
    }
    // おすすめスポット
    &.spot header {
      background: #444;
    }
    // おすすめ授業
    &.class header {
      background: #000;
    }

  } // end #content

  #side-menu {
    margin-top: $sectionGutter;
    padding-bottom: $sectionGutter;
    background-color: #dfdfdf;

    padding: 20px;
    border: 2px solid #fff;
    width: 176px; // ボーダー用に横幅減らす
    @include box-shadow(0 0 10px #ccc);

    header {
      h1 {
        $fontSize: 16px;
        font-size: $fontSize;
        line-height: $fontSize;
        margin: 0;

        & + hr {
          margin-top: $sectionGutter * 0.2;
          margin-bottom: $sectionGutter * 0.3;
        }
      }
    } // end #header

    hr {
      border: none;
      border-top: 1px solid rgba(0,0,0,0.09);
      border-bottom: 1px solid #fff;
    }
  } // end #side-menu
} // end .wiki
